{% extends "EMPAQUES/estructura.html" %}
{% load static %}

{% block barra_lateral %}
    <li><a href="{% url 'home' %}" class="active"><i class="fa fa-home fa-fw"></i>Inicio</a></li>
    <li><a href="{% url 'turnos' 0 %}" ><i class="fa fa-bar-chart fa-fw"></i>Turnos</a></li>
    <li><a href="{% url 'administracion' %}"><i class="fa fa-database fa-fw"></i>Administracion</a></li>
    <li><a href="{% url 'finanzas' %}"><i class="fa fa-line-chart fa-fw"></i>Finanzas</a></li>
    <li><a href="{% url 'logout' %}"><i class="fa fa-eject fa-fw"></i>Desconectar</a></li>
{% endblock %}



{% block content %}
    <div class="templatemo-content-widget white-bg col-2">
        {% if anu != None %}
            <div class="col-md-12">
                <h2 class="page-header">{{ anu.titulo}}</h2>
                <section class="comment-list">
                    <!-- First Comment -->
                    <article class="row">
                        <div class="col-md-2 col-sm-2 hidden-xs">
                            <figure class="thumbnail">
                            <img src="{{ anu.usuario.foto.url }}" alt="Profile Photo" class="img-responsive"> 
                            <figcaption class="text-center">{{ anu.usuario.usuario }}</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <div class="panel panel-default arrow left">
                                <div class="panel-body">
                                    <header class="text-left">
                                        <div class="comment-user"><i class="fa fa-user"></i> {{ anu.usuario }}</div>
                                        <time class="comment-date"><i class="fa fa-clock-o"></i> {{ anu.fecha }}</time>
                                    </header>
                                    <div class="comment-post">
                                        <br>{{ anu.contenido }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </article>
                    <div class="panel-body">    
                        <form method="POST" class="">
                            <div class="form-group">                      
                                {% csrf_token %}
                                {{ form_comentarios.contenido }}                              
                            </div>              
                                
                            <div class="form-group">
                                <button type="submit" class="templatemo-blue-button">Publicar</button>
                            </div>
                        </form>
                    </div>
                    <!-- Second Comment Reply -->
                    {% if com != None %}
                    {% for co in com %}
                        <article class="row">
                            <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-0 hidden-xs">
                                <figure class="thumbnail">
                                <img src="{{ co.usuario.foto.url }}" alt="Profile Photo" class="img-responsive" align="left"> 
                                <figcaption class="text-center">{{ co.usuario.usuario }}</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                <div class="panel panel-default arrow left">
                                    <div class="panel-body">
                                        <header class="text-left">
                                        <div class="comment-user"><i class="fa fa-user"></i> {{ co.usuario}}</div>
                                        <time class="comment-date" ><i class="fa fa-clock-o"></i> {{ co.fecha }}</time>
                                        </header>
                                        <div class="comment-post">
                                            {{ co.contenido}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                    {% else %}
                        <h2> No hay comentarios</h2>
                    {% endif %}
                </section>
            </div>
        {% else %}
            <h2> No exite anuncio</h2>
        {% endif %}
        
        
    </div>

    
{% endblock %}