  </head>
  <body>  
    {% block banner %}
      <marquee behavior="alternate" direction="left" height:="" 
            loop="7" scrollamount="1" scrolldelay="2" width="100%">
            <span style="font-size: 20px;color:#FFFFFF"> Bienvenidos!</span>
      </marquee>
    {% endblock %}

    <!-- Left column -->
    <div class="templatemo-flex-row">
    
      <div class="templatemo-sidebar">
        <header class="templatemo-site-header">
          <div class="square"></div>
          <h1>Empaques</h1>
        </header>
        <div class="profile-photo-container">
          <img src="{{ user.usuario.foto.url }}" alt="Profile Photo" class="img-responsive">  
          <div class="profile-photo-overlay"></div>
        </div>      

        <div class="mobile-menu-icon">
            <i class="fa fa-bars"></i>
        </div>
        <nav class="templatemo-left-nav">          
          <ul>
            {% block barra_lateral %}
              <li><a href="{% url 'logout' %}"><i class="fa fa-eject fa-fw"></i>Desconectar</a></li>
            {% endblock %}
          </ul>  
        </nav>
      </div>
      <!-- Main content --> 
      
      <div class="templatemo-content col-1 light-gray-bg">
        {% block barra_superior %}
        {% endblock %}
        <div class="templatemo-content-container">
          <div class="templatemo-flex-row flex-content-row">
            
            {% block content %}
            {% endblock %}

          </div>
          <footer class="text-right">
            <p>Copyright &copy; DarkEL</p>
          </footer>         
        </div>
      </div>
    </div>
    
    <!-- JS -->
    <script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>  <!-- jQuery -->
    <script type="text/javascript" src="{% static "js/templatemo-script.js" %}"></script>      <!-- Templatemo Script -->
  </body>
</html>