{% extends "EMPAQUES/estructura.html" %}
{% load static %}

{% block barra_lateral %}
    <li><a href="{% url 'home' %}" ><i class="fa fa-home fa-fw"></i>Inicio</a></li>
    <li><a href="{% url 'turnos' 0 %}" ><i class="fa fa-bar-chart fa-fw"></i>Turnos</a></li>
    <li><a href="data-visualization.html"><i class="fa fa-database fa-fw"></i>Administracion</a></li>
    <li><a href="{% url 'finanzas' %}"><i class="fa fa-database fa-fw"></i>Finanzas</a></li>
    <li><a href="{% url 'logout' %}"><i class="fa fa-eject fa-fw"></i>Desconectar</a></li>
{% endblock %}


{% block content %}
    <div class="templatemo-content-widget white-bg col-2">
        <div class="col-md-12">
        <h2 class="page-header">Registros contables</h2>
        <iframe width="70%" height="500" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQIQGlVD-0jFZWIYsaGsiW5BrhHv_CXu1q3Ufdn4T-b7-Vc72hXO19sCqmpeO9JEGTKvSIiZB8cTA_Q/pubhtml?gid=572276165&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
        </div>
    </div>
{% endblock %}