<!-- templates/home.html-->
{% extends "base.html" %}

{% block title %}Bievenido{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>Hola {{ user.username }} tu carrera es: {{ user.usuario.carrera }} y tu universidad es: {{ user.usuario.universidad }}</h1>
        <h1>Actualmente eres un usuario: {{ user.usuario.get_rol_display }}</h1>
        <a href="{% url 'logout' %}">Cerrar sesión</a>
    {% else %}
        <a href="{% url 'registrate' %}">Registrate</a>
        <a href="{% url 'login' %}">Iniciar sesión</a>
    {% endif %}
    
{% endblock content %}