<!-- templates/home.html-->
{% extends "EMPAQUES/estructura.html" %}
{% load static %}
{% block title %}Bievenido{% endblock %}


{% block banner %}
    <div align="center">
        {% if retorno == "ahora" %} <marquee behavior="alternate" bgcolor="#bb3434" direction="left" height:="" 
            loop="7" scrollamount="1" scrolldelay="2" width="100%">
            <span style="font-size: 20px;color:#FFFFFF">Toma de turnos activada
        {% elif informacion == "no hay informacion" %}<marquee behavior="alternate" direction="left" height:="" 
            loop="7" scrollamount="1" scrolldelay="2" width="100%">
            <span style="font-size: 20px;color:#FFFFFF"> Aún no se define la próxima toma de turnos 
        {% else %}<marquee behavior="alternate" bgcolor="#13895F" direction="left" height:="" 
            loop="7" scrollamount="1" scrolldelay="2" width="100%">
            <span style="font-size: 20px;color:#FFFFFF">Siguiente toma de turnos: {{ informacion.fecha_inicio }}
        {% endif %}
        </span></marquee>
    </div>
{% endblock %}




{% block barra_lateral %}
    <li><a href="{% url 'home' %}" class="active"><i class="fa fa-home fa-fw"></i>Inicio</a></li>
    <li><a href="{% url 'turnos' 0 %}"><i class="fa fa-bar-chart fa-fw"></i>Turnos</a></li>
    <li><a href="data-visualization.html"><i class="fa fa-database fa-fw"></i>Administracion</a></li>
    <li><a href="{% url 'logout' %}"><i class="fa fa-eject fa-fw"></i>Desconectar</a></li>
{% endblock %}
            



{% block content %}
<div class="templatemo-content-widget white-bg col-2">
    <h1>Hola <i>{{ user.username }}</i></h1>
    <br></br>
    <h2>Bienvenido al Sistema de Gestión de la Asociación de Empaques de Santa Isabel de Ruben Dario, Valdivia.</h2><br>
    <h3>Actualmente eres un usuario: <i>{{ user.usuario.get_rol_display }}</i></h3>

    <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
        <i class="fa fa-times"></i>
        <div class="panel-heading templatemo-position-relative">
        <h2 class="text-uppercase"> Tablon de Anuncios</h2>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>Titulo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in anuncios %}
                    <tr>
                        <td>{{ user.fecha }}</td>
                        <td>{{ user.usuario.usuario }}</td>
                        <td><a href="{% url 'ver_anuncios' id_anun=user.id_Anuncios %}">{{ user.titulo }}</a></td>
                    </tr>
                    {% endfor %}    
                </tbody>
            </table>    
        </div>                          
    </div>
</div>

{% endblock content %}

