{% extends "EMPAQUES/estructura.html" %}
{% load static %}




{% block barra_lateral %}
    <li><a href="{% url 'home' %}" ><i class="fa fa-home fa-fw"></i>Inicio</a></li>
    <li><a href="{% url 'turnos' 0 %}" ><i class="fa fa-bar-chart fa-fw"></i>Turnos</a></li>
    <li><a href="{% url 'administracion' %}" class="active"><i class="fa fa-database fa-fw"></i>Administracion</a></li>
    <li><a href="{% url 'finanzas' %}"><i class="fa fa-line-chart fa-fw"></i>Finanzas</a></li>
    <li><a href="{% url 'logout' %}"><i class="fa fa-eject fa-fw"></i>Desconectar</a></li>
{% endblock %}

{% block content %}

                <div class="panel panel-default margin-10">
                  <div class="panel-heading encabezado"><h2 class="text-uppercase">Ingresa tu anotacion</h2></div>
                  <div class="panel-body">
                      
                    <form method="POST" class="">
                      <div class="form-group mostrar">
                        <label >Categoría:</label>
                        {% csrf_token %}
                        {{ form_anotaciones.categoria_anotaciones }}
                      </div>
                      <div class="form-group oculto">                      
                        <label>Cantidad de turnos: </label>
                        {% csrf_token %}
                        {{ form_anotaciones.turnos_restados }}                              
                      </div>              
                      
                      <div class="form-group oculto">
                        <button type="submit" class="templatemo-blue-button">Publicar</button>
                      </div>
                    </form>
                  </div>                
                </div>
{% endblock %}