{% extends "EMPAQUES/estructura.html" %}
{% load static %}


{% block banner %}
    <div align="center">
        {% if retorno == "ahora" %} <marquee behavior="alternate" bgcolor="#bb3434" direction="left" height:="" 
            loop="7" scrollamount="1" scrolldelay="2" width="100%">
            <span style="font-size: 20px;color:#FFFFFF">Toma de turnos activada
        {% elif informacion == "no hay informacion" %}<marquee behavior="alternate" direction="left" height:="" 
            loop="7" scrollamount="1" scrolldelay="2" width="100%">
            <span style="font-size: 20px;color:#FFFFFF"> Aún no se define la próxima toma de turnos 
        {% else %}<marquee behavior="alternate" bgcolor="#13895F" direction="left" height:="" 
            loop="7" scrollamount="1" scrolldelay="2" width="100%">
            <span style="font-size: 20px;color:#FFFFFF">Siguiente toma de turnos: {{ informacion.fecha_inicio }}
        {% endif %}
        </span></marquee>
    </div>
{% endblock %}

{% block barra_lateral %}
    <li><a href="{% url 'home' %}" ><i class="fa fa-home fa-fw"></i>Inicio</a></li>
    <li><a href="" ><i class="fa fa-bar-chart fa-fw"></i>Turnos</a></li>
    <li><a href="{% url 'administracion' %}" class="active"><i class="fa fa-database fa-fw"></i>Administracion</a></li>
    <li><a href="{% url 'finanzas' %}"><i class="fa fa-line-chart fa-fw"></i>Finanzas</a></li>
    <li><a href="{% url 'logout' %}"><i class="fa fa-eject fa-fw"></i>Desconectar</a></li>
{% endblock %}

{% block content %}

                <div class="panel panel-default margin-10">
                  <div class="panel-heading encabezado"><h2 class="text-uppercase">Ingresa tu anotacion</h2></div>
                  <div class="panel-body">
                      
                    <form method="POST" class="">
                      <div class="form-group mostrar">
                        <label >Categoría:</label>
                        {% csrf_token %}
                        {{ form_anotaciones.categoria_anotaciones }}
                      </div>
                      <div class="form-group oculto">                      
                        <label>Cantidad de turnos: </label>
                        {% csrf_token %}
                        {{ form_anotaciones.turnos_restados }}                              
                      </div>              
                      
                      <div class="form-group oculto">
                        <button type="submit" class="templatemo-blue-button">Publicar</button>
                      </div>
                    </form>
                  </div>                
                </div>
{% endblock %}