<!-- templates/home.html-->
{% extends "EMPAQUES/estructura.html" %}
{% load static %}
{% block title %}Bievenido{% endblock %}
{% block banner %}
    <div align="center">
        <marquee behavior="alternate" direction="left" height:="" 
            loop="7" scrollamount="1" scrolldelay="2" width="100%">
            <span style="font-size: 20px;color:#FFFFFF"> Bienvenidos! 
        </span></marquee>
    </div>
{% endblock %}


{% block barra_lateral %}
    <li><a href="{% url 'home' %}" ><i class="fa fa-home fa-fw"></i>Inicio</a></li>
    <li><a href="" ><i class="fa fa-bar-chart fa-fw"></i>Turnos</a></li>
    <li><a href="{% url 'administracion' %}" class="active"><i class="fa fa-database fa-fw"></i>Administracion</a></li>
    <li><a href="{% url 'finanzas' %}"><i class="fa fa-line-chart fa-fw"></i>Finanzas</a></li>
    <li><a href="{% url 'logout' %}"><i class="fa fa-eject fa-fw"></i>Desconectar</a></li>
{% endblock %}


{% block content %}
<div class="templatemo-content-widget white-bg col-2">

    <button ><a href="{% url 'agregar_lista_espera' %}"> Añadir persona </a></button>

    <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
        <i class="fa fa-times"></i>
        <div class="panel-heading templatemo-position-relative">
        <h2 class="text-uppercase"> Lista de Espera</h2>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Celular</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in listas %}
                    <tr>
                        <td>{{ list.id_Lista_de_Espera}}</td>
                        <td>{{ list.nombre }}</td>
                        <td>{{ list.apellido}}</td>
                        <td>{{ list.telefono}}</td>
                        
                    </tr>
                    {% endfor %}    
                </tbody>
            </table>    
        </div>                          
    </div>
    
</div>

{% endblock content %}