{% extends "EMPAQUES/estructura.html" %}
{% load static %}

{% block barra_lateral %}
    <li><a href="{% url 'home' %}" ><i class="fa fa-home fa-fw"></i>Inicio</a></li>
    <li><a href="{% url 'turnos' 0 %}" ><i class="fa fa-bar-chart fa-fw"></i>Turnos</a></li>
    <li><a href="data-visualization.html"><i class="fa fa-database fa-fw"></i>Administracion</a></li>
    <li><a href="{% url 'finanzas' %}"><i class="fa fa-database fa-fw"></i>Finanzas</a></li>
    <li><a href="{% url 'logout' %}"><i class="fa fa-eject fa-fw"></i>Desconectar</a></li>
{% endblock %}



{% block content %}

    {% for user in perfil %}
    <div class="templatemo-content-widget white-bg col-2">
            <div class="col-md-12">
                <section class="comment-list">
                    <article class="row">
                        <div class="col-md-2 col-sm-2 hidden-xs">
                            <figure class="thumbnail">
                            <img src="{{ user.foto.url }}" alt="Profile Photo" class="img-responsive"> 
                            <figcaption class="text-center">{{ user.usuario}}</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-5 col-sm-9">
                            <div class="panel panel-default arrow left">
                                <div class="panel-heading right">Perfil de usuario </div>
                                    <div class="panel-body">
                                        <header class="text-left">
                                            <div> <b>Nombre completo</b>: {{ user.usuario.username }}  {{ user.usuario.last_name }}</div>
                                            <div> <b>rut</b>: {{ user.rut }}</div>
                                            <div> <b>email</b>: {{ user.usuario.email }}</div>
                                            <div> <b>telefono</b>: {{ user.telefono }}</div>
                                            <div> <b>fecha de ingreso</b>: {{ user.fecha_ingreso }}</div>
                                            <div> <b>universidad</b>: {{ user.universidad }}</div>
                                            <div> <b>carrera</b>: {{ user.carrera }}</div>
                                            <div> <b>activo</b>: {{ user.get_activo_display }}</div>
                                            <div> <b>cantidad de turnos disponibles</b>: {{ user.cant_turnos_disponibles }}</div>   <br>            
                                        </header>
                                        {% if current_user == user.id_Usuario %}
                                            <button class="templatemo-blue-button"><a href="{% url 'editar_perfil' pk=user.pk %}">Editar perfil</a></button>
                                        {% endif %}
                                    </div>
                                </div>
           
                        </div>
                        {% if current_user == user.id_Usuario %}
                        <div class="col-md-5 col-sm-9">
                            <div class="panel panel-default arrow left">
                                <div class="panel-heading right">Anotaciones del usuario </div>
                                    <div class="panel-body">
                                        <header class="text-left">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered">
                                                    {% if anotaciones != None %}
                                                    <thead>
                                                        <tr>
                                                            <th>Fecha</th>
                                                            <th>Categoria anotación</th>
                                                            <th>Turnos restados</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for anot in anotaciones %}
                                                        <tr>
                                                            
                                                            <td>{{ anot.fecha|date:"d M Y" }} </td>    
                                                            <td>{{ anot.categoria_anotaciones.nombre_anotacion }}</td>
                                                            <td>{{ anot.turnos_restados }}</td>         
                                                            
                                                        </tr>
                                                        {% endfor %}    
                                                    </tbody>
                                                    {% else %}
                                                    <div>Sin anotaciones</div> 
                                                    {% endif %}

                                                </table>    
                                            </div>           
                                        </header>
                                    </div>
                                </div>
                            <div>
                              
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-9">
                            <div class="panel panel-default arrow left">
                                <div class="panel-heading right">Turnos del usuario </div>
                                    <div class="panel-body">
                                        <header class="text-left">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered">
                                                    {% if turnos != None %}
                                                    <thead>
                                                        <tr>
                                                            <th>Fecha</th>
                                                            <th>Hora de inicio</th>
                                                            <th>Hora de termino</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for tur in turnos %}
                                                        <tr>
                                                            
                                                            <td>{{ tur.fecha|date:"d M Y" }} </td>    
                                                            <td>{{ tur.hora_inicio }}</td>
                                                            <td>{{ tur.hora_final  }}</td>         
                                                            
                                                        </tr>
                                                        {% endfor %}    
                                                    </tbody>
                                                    {% else %}
                                                    <div>Sin turnos</div> 
                                                    {% endif %}

                                                </table>    
                                            </div>           
                                        </header>
                                    </div>
                                </div>
                            <div>
                              
                            </div>
                        </div>
                        {% endif %}
                    </article>
                    <button class="templatemo-blue-button"><a href="lista_usuarios">volver a la lista de usuarios</a></button>

                </section>
            </div>
    </div>
    {% endfor %}
    
{% endblock %}