{% extends 'registration/login.html' %}


{% block log %}
<form class="login" action="{% url 'reset_password' %}" method="POST">
  {% csrf_token %}

  <div>
    <label for="{{ form.email.id_for_label }}" style="font-family: 'Times New Roman'">
      Le enviaremos un correo electrónico para que recupere su contraseña<br></br>Ingrese su correo:<br></br>
    </label>
    <div class="control">
      {{ form.email }}
    </div>
    <p class="help is-danger">{{ form.email.errors }}</p>
  </div>

  <button style="width:150px;">Ingresar</button>

</form>
{% endblock %}