{% extends 'registration/login.html' %}


{% block log %}

<form class="login" method="POST">
  {% csrf_token %}

  <div>
    <label for="{{ form.new_password1.id_for_label }}">
      Nueva contraseña:
    </label>
    <div class="control">
      {{ form.new_password1 }}
    </div>
    <p class="help is-danger">{{ form.new_password1.errors }}</p>
  </div>

  <div>
    <label for="{{ form.new_password2.id_for_label }}" class="label">
      New Password2
    </label>
    <div class="control">
      {{ form.new_password2 }}
    </div>
    <p class="help is-danger">{{ form.new_password2.errors }}</p>
  </div>

  <button>Cambiar</button>
</form>


{% endblock %}