<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}



{% block head %}
<link rel="stylesheet" href="{% static "css/login.css" %}">
<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">


{% endblock %}

{% block content %}

<div>
  <div class= "split left">
    <div class="info">

      <h1>Agrupación de empaques Santa Isabel Rubén Darío</h1>

      <p> 
        La asociación de empaques del supermercado Santa Isabel Rubén Darío,
      Valdivia, es una agrupación que brinda servicios de empaquetamiento desde el año
      2015 al supermercado Santa Isabel situada en Avenida Picarte 3057, Valdivia,
      perteneciente a Cencosud S.A.</p>
      <p>
        El objetivo de esta asociación es prestar servicios de empaquetamiento al
      supermercado, así como permitir el trabajo de estudiantes universitarios facilitando
      horarios flexibles para complementar sus estudios. </p>
      
      <div class="contacto"> 
          <h4>Contacto: </h4>
          <i class="fas fa-phone-alt"> +569 1234 5678</i><br>
          <i class="fas fa-at"> empaquesantaisabel@gmail.com</i><br>
          <i class="fas fa-home"> Rubén Darío 100, Valdivia, Chile</i><br>
      </div>
    </div>

  </div>

  <div class="split right background_animated">

    {% csrf_token %}
    {{ form.non_field_errors }}
      <form class="login"method="post">{% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        <button>Login</button>
      </form>

{% endblock content %}

