<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}



{% block head %}
<link rel="stylesheet" href="{% static "css/login.css" %}">

{% endblock %}

{% block content %}


{{ form.as_p }}
<div>
  <div class= "split left">
    <div class="info">

      <h1>Agrupación de empaques Santa Isabel Rubén Darío</h1>

      <p>La asociación de empaques del supermercado Santa Isabel Rubén Darío,
Valdivia, es una agrupación que brinda servicios de empaquetamiento desde el año
2015 al supermercado Santa Isabel situada en Avenida Picarte 3057, Valdivia,
perteneciente a Cencosud S.A.</p><p>
El objetivo de esta asociación es prestar servicios de empaquetamiento al
supermercado, así como permitir el trabajo de estudiantes universitarios facilitando
horarios flexibles para complementar sus estudios. </p>
      </div>
  </div>

  <div class="split right background_animated">
    
      <form class="login"method="post">{% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        <button>Login</button>
      </form>
  </div>
  <a href="https://codepen.io/davinci/" target="_blank">check my other pens</a>
</div>

{% endblock content %}

