
.info{
  overflow: auto;
  background-color: white;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
  -moz-transition: -moz-transform 300ms, box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(6, 8, 8, 0.2);
}

body {
    background-color: #13895F;
    font-family: "Asap", sans-serif;
  }


  
.left{
  float:left;
  display:inline-block;
  width: 50%;
  background: #13895F;

  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}
.right{
  
  float:right;
  display:inline-block;
  width: 50%;
  background: #1f2124;
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}
