

/****************************** Split screen **************************/

.split {
  height: 100%;
  
  z-index: 1;
  top: 0;
  position: absolute;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;

}
/* Control the right side */
.right {
  right: 0;

}
 /********************************************************************/

/****************************** Login **************************/
.boton1 > a {
  text-decoration: none;
  color:white;
  position: relative;
  right: 4px;
  bottom: 4px;
  text-align: center;
  font-size: 16px;
  
}
.boton1 {
  border: 1px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #0e0f11; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/

  font-family: "san-serif";
  border-radius: 50px; /*bordes redondos*/
  }
  .boton1 :hover{
    text-shadow: 0px 0x 4px gray;
  }
  .login {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(6, 8, 8, 0.2);
  }
  .login::before, .login::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  .login::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba(27, 180, 126, 0.849);
    -webkit-animation: wawes 6s infinite linear;
    -moz-animation: wawes 6s infinite linear;
    animation: wawes 6s infinite linear;
  }
  .login::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba(14, 97, 68, 0.568);
    -webkit-animation: wawes 7s infinite;
    -moz-animation: wawes 7s infinite;
    animation: wawes 7s infinite;
  }
  .login > input {
    font-family: "Asap", sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(196, 255, 242, 0.925);
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }
  .login > button {
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #13895F;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
  }
  .login > button:hover {
    background-color: #13895F;
  }
  
  @-webkit-keyframes wawes {
    from {
      -webkit-transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes wawes {
    from {
      -moz-transform: rotate(0);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  @keyframes wawes {
    from {
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  a {
    text-decoration: none;
    color: rgba(82, 17, 17, 0.6);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
  }

  

/****************************** Fondo animado **************************/


.right .background_animated{
  
	
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.info p{
  text-align: justify;
}

.contacto{
  position: static;
  text-align: justify;
  bottom: 70px;
  padding-bottom: 20px;
}




 /* For mobile phones: */
 @media only screen and (max-width: 768px) {
 [class*="split"] {
  width: 100%;
  }
  .left{
    visibility: hidden;
    
    
  }
  .right{
    transform: scale(100%);
    position: absolute;
    
    
  }
  .login {

    padding: 5%;
    z-index: 0;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 85%;
    
  }

  
}

@media only screen and (min-width: 768px) {
  /* For desktop: */

  
} 

.titulo-mobile{
  position: absolute;
  text-align: center;
  color: #fff;
  padding: 10px;
  z-index: -1;
}